		<div class="nav">
			<div class="container">
				<ul class="pull-left">
					<li class="dropmenu_all"><%= link_to 'List all Materials', controller: 'materials' %></li>
				</ul>
				<ul class="pull-right">
					<li class="dropmenu"><a href="#">Show All</a></li>
				</ul>
			</div>

		</div>
		<div class="container">
			<div class="jumbotron">
				<div>
					<h1 align="center" >Big G Inventory Search</h1>
					<p></p>
				</div>
				<table align="center">
					
					<br>
					<tr>
						<td class="text_field">
							<form>
								<input type="text" name="" size="25%" class="text_field">
						</td>
						<td>
							<div>
								<%= image_submit_tag("search_box_icon.png", class: 'searchbox') %> 
							</div>
						</td>	
					</form>
				

					</tr>
					</table>
			</div>
		</div>

	
		<footer>
			<div class="nav">
			<div class="container">
				<ul class="pull-left">
					<li>Welcome to BIG G Material Management System.</li>
				</ul>
				<ul class="pull-right">
					<li>Patent Pending</li>
				</ul>
			</div>
			</div>
		</footer>

		
