<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="col-md-offset-1 col-md-10">
      <div class="header">
        <a class="navbar-brand pull-left" href="#">Home</a>
        <a class="navbar-brand pull-right" href="http://www.biggelectric.com">BIG G ELECTRIC</a>
      </div>

    </div>
</nav>