<%= render 'header' %>
<div class="jumbotron">
	<div class="container">
		<h1 align="center">Material Details</h1>
 	</div>
 </div>

<div class="col-md-offset-1 col-md-10 stacks">
	<br />
	<br />
<%= render 'form' %>
</div>
 <div class="col-md-offset-1 stack col-md-10">
		<br>

  		<%= link_to 'Back', materials_path %>
  	</div>

<%= render 'footer'%>